.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  font-family: 'Open Sans Condensed';
  
  .checkout-header {
    font-size: 1.6rem;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }
  .empty-cart-message {
    font-size: 3rem;
    font-family: 'Open Sans';
    font-weight: lighter;
    margin: 2.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin-left: 1rem;
      width: 4.5rem;
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
}
