.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
    img {
      cursor: pointer;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      cursor: pointer;
      font-size: 1.5rem;
      padding: 1rem 1.5rem;
      &:hover {
        font-weight: bold;
      }
    }
  }
}
